<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <title>Adicionar Gasto</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="pagina">

    <h1>Adicionar Gasto</h1>

    <form method="POST">

        <label>Descrição</label>

        <input
            type="text"
            name="descricao"
            required
        >

        <br><br>

        <label>Categoria</label>

        <select name="categoria">

            <option>Alimentação</option>

            <option>Casa</option>

            <option>Transporte</option>

            <option>Lazer</option>

            <option>Saúde</option>

            <option>Educação</option>

            <option>Outros</option>

        </select>

        <br><br>

        <label>Valor</label>

        <input
            type="number"
            name="valor"
            step="0.01"
            required
        >

        <br><br>

        <button type="submit">

            Salvar Gasto

        </button>

    </form>

    <br>

    <a href="/">

        <button>

            Voltar

        </button>

    </a>

</div>

</body>

</html>